common --enable_bzlmod=false

build --announce_rc
build --color=yes
build --curses=no
build --show_timestamps

test --test_output=all
test --test_verbose_timeout_warnings

try-import %workspace%/user.bazelrc
