Checks: >
    bugprone-*,
    clang-analyzer-cplusplus*,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,

    # Bazel does this for determinism,
    -clang-diagnostic-builtin-macro-redefined,

    # suppress due to assert,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,

    # short names are fine for short lifetimes,
    -readability-identifier-length,

    # allow unused variables to be unnamed,
    -readability-named-parameter,

    # use iterators as abstractions, not pointers,
    -readability-qualified-auto,

    # disable common aliases,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-c-copy-assignment-signature,
    -cppcoreguidelines-explicit-virtual-functions,
    -cppcoreguidelines-non-private-member-variables-in-classes,

    # disable EXTREMELY SLOW checks,
    -bugprone-reserved-identifier,
    -readability-identifier-naming,
    -misc-confusable-identifiers,

    # too many false positives,
    -misc-include-cleaner,

    # doesn't work with auto&,
    -modernize-use-trailing-return-type,

    # allow Hinnant style special member functions,
    -cppcoreguidelines-special-member-functions,
