common --enable_bzlmod=false

# older Bazel versions may not support --experimental_convenience_symlinks
build --symlink_prefix=/

build:clang-tidy --aspects=@rules_clang_tidy//:aspects.bzl%check
build:clang-tidy --output_groups=report

build --@rules_clang_tidy//:clang-tidy=@llvm_toolchain//:clang-tidy
build --@rules_clang_tidy//:clang-apply-replacements=@llvm_toolchain//:clang-apply-replacements
